@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  -webkit-user-drag: none;
}

.articleBody * {
  max-width: 100%;
  overflow-wrap: break-word;
}

.theme-default {
  --color-primary: #08d9d6;
  --color-secondary: #eaeaea;
  --color-tertiary: #ff2e63;
  --color-quaternary: #252a34;
}

.theme-dark {
  --color-primary: #222831;
  --color-secondary: #393e46;
  --color-tertiary: #00adb5;
  --color-quaternary: #eeeeee;
}

.theme-funny {
  --color-primary: #f9ed69;
  --color-secondary: #f08a5d;
  --color-tertiary: #b83b5e;
  --color-quaternary: #6a2c70;
}

#post h1 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1.5rem;
}
#post h2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1.5rem;
}
#post h3 {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1.5rem;
}
#post h4 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1.5rem;
}
#post h5 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1.5rem;
}
#post h6 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1.5rem;
}

@media print {
  .no-print {
    display: none !important;
  }
}
